@model HotelOrderFinal.Models.Activity

@{
    ViewData["Title"] = "Create";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        @*<div class="page-cover text-center">
        <h2 class="page-cover-tittle">About Us</h2>
        <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
        </ol>
        </div>*@
    </div>
</section>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*    <title>評點&評論</title>*@
    <link rel="stylesheet" href="../css/start.css" />
    <style>
        .card-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
        }

        * {
            margin: 0;
            padding: 0;
        }

        /* .類別名 可套用在不同標籤上*/
        .left {
            width: 400px;
            float: left;
            margin-left: 100px;
        }

        .t1 {
            /* float: left; 文繞圖浮動到左邊*/
            float: left;
        }

        .t2 {
            width: 400px;
            text-align: center;
        }

        .sub {
            width: 400px;
            /* 捲軸:視需要自動啟動 */
            overflow: auto;
            margin-left: 10px;
            text-align: start;
        }
        /* 不能任意調整文字框大小 */
        textarea {
            margin-left: 10px;
            resize: none;
        }
    </style>
</head>


<body>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <input asp-for="ActivityId" class="form-control" />
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityImage" class="control-label"></label>
                <input asp-for="ActivityImage" class="form-control" />
                <span asp-validation-for="ActivityImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityDirections" class="control-label"></label>
                <input asp-for="ActivityDirections" class="form-control" />
                <span asp-validation-for="ActivityDirections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTime" class="control-label"></label>
                <input asp-for="ActivityTime" class="form-control" />
                <span asp-validation-for="ActivityTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPlace" class="control-label"></label>
                <input asp-for="ActivityPlace" class="form-control" />
                <span asp-validation-for="ActivityPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPeople" class="control-label"></label>
                <input asp-for="ActivityPeople" class="form-control" />
                <span asp-validation-for="ActivityPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityCost" class="control-label"></label>
                <input asp-for="ActivityCost" class="form-control" />
                <span asp-validation-for="ActivityCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
<div class="container-fluid">
            <div class="row">
                <div class="col-5 col-1-sm-6">
                    <div class="d-flex flex-wrap">
                        @*    <div class="col-md-4">*@
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @*<div class="form-group">
                                <label asp-for="ActivityId" class="control-label"></label>
                                <input asp-for="ActivityId" class="form-control" />
                                <span asp-validation-for="ActivityId" class="text-danger"></span>
                            </div>*@
                            <div class="form-group">
                                <label asp-for="ActivityName" class="control-label"></label>
                                <input asp-for="ActivityName" class="form-control" />
                                <span asp-validation-for="ActivityName" class="text-danger"></span>
                            </div>
                           @* <div class="form-group">
                                <label asp-for="ActivityImage" class="control-label"></label>
                                <input asp-for="ActivityImage" class="form-control" />
                                <span asp-validation-for="ActivityImage" class="text-danger"></span>
                            </div>*@
                            <div class="form-group">
                                <label asp-for="ActivityDirections" class="control-label"></label>
                                <input asp-for="ActivityDirections" class="form-control" />
                                <span asp-validation-for="ActivityDirections" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ActivityTime" class="control-label"></label>
                                <input asp-for="ActivityTime" class="form-control" />
                                <span asp-validation-for="ActivityTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ActivityPlace" class="control-label"></label>
                                <input asp-for="ActivityPlace" class="form-control" />
                                <span asp-validation-for="ActivityPlace" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ActivityPeople" class="control-label"></label>
                                <input asp-for="ActivityPeople" class="form-control" />
                                <span asp-validation-for="ActivityPeople" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ActivityCost" class="control-label"></label>
                                <input asp-for="ActivityCost" class="form-control" />
                                <span asp-validation-for="ActivityCost" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>*@

                            <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                                <input type="reset" value="清除" class="btn btn-secondary" />
                            <a asp-action="ActivityByCreate" class="btn btn-warning">取消</a>
                            </div>
                            <div class="form-group">
                                @using (Html.BeginForm("Create", "Activity", new { id = "my-form-id" }))
                                {
                                    <button type="button" class="btn btn-dark" onclick="demoActivityCareate()">Demo</button>
                                }
                                @ViewBag.Message
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script> 
        function demoActivityCareate() {
            // 設定 Demo 評價
            // 取得表單元素和欄位元素
        
        document.getElementById("ActivityName").value = "就是要送優惠拉";
        document.getElementById("ActivityDirections").value = "只給會員唷~~"; 
        document.getElementById("ActivityTime").value = '2023/5/31 12:00'; console.log('ActivityTime')                   
        document.getElementById("ActivityPlace").value = "台北巨蛋"; 
        document.getElementById("ActivityPeople").value = 20;
        document.getElementById("ActivityCost").value = 2000;            
            form.submit();
        }   
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
