@model HotelOrderFinal.Models.Activity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Activity</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <input asp-for="ActivityId" class="form-control" />
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityImage" class="control-label"></label>
                <input asp-for="ActivityImage" class="form-control" />
                <span asp-validation-for="ActivityImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityDirections" class="control-label"></label>
                <input asp-for="ActivityDirections" class="form-control" />
                <span asp-validation-for="ActivityDirections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTime" class="control-label"></label>
                <input asp-for="ActivityTime" class="form-control" />
                <span asp-validation-for="ActivityTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPlace" class="control-label"></label>
                <input asp-for="ActivityPlace" class="form-control" />
                <span asp-validation-for="ActivityPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPeople" class="control-label"></label>
                <input asp-for="ActivityPeople" class="form-control" />
                <span asp-validation-for="ActivityPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityCost" class="control-label"></label>
                <input asp-for="ActivityCost" class="form-control" />
                <span asp-validation-for="ActivityCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
