@{
    ViewData["Title"] = "Create";
}

<style>

</style>


<p></p>
@using (Html.BeginForm("Create", "Member", FormMethod.Post))
{
    <form asp-action="Create" method="post">
        <div class="d-flex justify-content-center">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="MemberPhone">手機(為登入帳號)</label>
                    <input type="tel" id="CMemberPhone" name="MemberPhone" class="form-control" required pattern="09\d{8}">
                    <span class="text-danger" data-valmsg-for="MemberPhone" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="MemberName">姓名</label>
                    <input type="text" id="MemberName" name="MemberName" class="form-control" required>
                    <span class="text-danger" data-valmsg-for="MemberName" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="MemberIdentity">身份證字號</label>
                    <input type="text" id="MemberIdentity" name="MemberIdentity" class="form-control" required pattern="[A-Z][12][0-9]{8}">
                    <span class="text-danger" data-valmsg-for="MemberIdentity" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="MemberGender">生理性別</label>
                    <p></p>
                    <input type="radio" name="MemberGender" value="male">男性
                    <input type="radio" name="MemberGender" value="female">女性
                    <span class="text-danger" data-valmsg-for="MemberGender" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="MemberBirthday">生日</label>
                    <input type="date" id="MemberBirthday" name="MemberBirthday" class="form-control" required>
                    <span class="text-danger" data-valmsg-for="MemberBirthday" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="MemberEmail">Email</label>
                    <input type="email" id="MemberEmail" name="MemberEmail" class="form-control" required>
                    <span class="text-danger" data-valmsg-for="MemberEmail" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="MemberPassword">密碼</label>
                    <input type="password" id="CMemberPassword" name="MemberPassword" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <span class="text-danger" data-valmsg-for="MemberPassword" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="valcheck()" value="註冊" class="btn btn-primary" />

                    <button type="button" onclick="autofill()" class="btn btn-primary">Demo</button>
                    @*<input type="submit" value="註冊" class="btn btn-default">*@
                </div>
            </div>
        </div>
    </form>
}

<div class="col-3"></div>
@*<div>
    <a asp-controller="Home" asp-action="Index">取消</a>
</div>*@

@*<script type="text/javascript">
    function valcheck() {
        alert("test");
        return;
    }

</script>

*@




@{
    var errorMessage = TempData["ErrorMessageSameAccount"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        alert("帳號已註冊，請重新確認，謝謝!");
    </script>
}



<script>

    function autofill() {
        document.getElementById("MemberName").value = "林哈娜";
        document.getElementById("MemberIdentity").value = "A221144467";
        document.getElementById("CMemberPhone").value = "0978999999";
        document.getElementById("MemberEmail").value = "hana@gmail.com";
        document.getElementById("CMemberPassword").value = "AAaa1122";
    }
</script>
