@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @if (!string.IsNullOrEmpty(ViewBag.PasswordsuccessMessage))
    {
        <div id="passwordsuccessMessage">@ViewBag.PasswordsuccessMessage</div>
        <script>
            // 顯示成功訊息
            alert("修改成功");
            window.location.href = '@Url.Action("EditPassword", "Member")';
        </script>
    }
</body>
</html>
