
@{
    ViewData["Title"] = "會員密碼修改";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">About Us</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
</section>
<aside>

</aside>

<style>
    .wrapper {
        width: 80%; /* 設定容器寬度 */
        margin: 0 auto; /* 將容器置中對齊 */
    }
</style>
<div class="wrapper ">

    <h1>會員密碼修改</h1>
    <h4>RoomMember</h4>
    <hr />
    <div class="row">

        @*//【側邊欄位】==========================================================================*@
        <div class="col-xs-12 col-md-3">
            <div class="athMember__menu pb-sm-3">
                <div class="athMember__user pb-20">
                    <div class="athMember__userInfo">
                        @{
                            var userName = Context.Session.GetString("UserName");
                            var userId = Context.Session.GetString("UserID");
                            var usePhone = Context.Session.GetString("UserPhone");
                        }
                        <h2 class="athMember__userName">@userName</h2>
                        <p class="athMember__usePhone">@usePhone</p>
                    </div>
                </div>
                <div class="athMemberNav">
                    <ul class="athMember__menuList d-mdx-none pb-15 mt-10" style="list-style: none;">
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改資料", "Edit", "Member", null, new { @class = "nav-link" })
                        </li>
                        <li class="athMember__menu__isactive">
                            @Html.ActionLink("修改密碼", "EditPassword", "Member", null, new { @class = "nav-link" })
                        </li>
                        <li class=""><a href="#">您的訂單</a></li>
                        <li class=""><a href="#">最新消息</a></li>
                        <li class=""><a href="#">會員條款</a></li> <!----> <!----> <!---->
                        <li class=""><a href="#">電子會員卡</a></li> <!----> <!---->
                    </ul>
                    <div class="d-md-none">
                        <p class="athMember__menu__select mt-20 mb-10">會員資料選單</p>
                        <div class="athMember__menuList form-group athSelect w-100">
                            <select class="form-control">
                                <option value="memberEdit">修改資料</option>
                                <option value="passwordEdit">修改密碼</option>
                                <option value="getOrderQueryMn">您的訂單</option>
                                <option value="getNews">最新消息</option>
                                <option value="memberRule">會員條款</option>
                                <option value="memberBenefit">會員福利</option> <!----> <!---->
                                <option value="memberCard">電子會員卡</option> <!----> <!---->
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*///-----------------------------------------------------------------------------------------*@
        @using (Html.BeginForm("Create", "Member", FormMethod.Post))
        {
            <form asp-action="Create" method="post">
                <div class="d-flex justify-content-center">
                    <div class="col-lg-9 col-md-9 col-9">
         @*               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="MemberName">姓名</label>
                            <input type="text" id="MemberName" name="MemberName" class="form-control" required>
                            <span class="text-danger" data-valmsg-for="MemberName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="MemberIdentity">身份證字號</label>
                            <input type="text" id="MemberIdentity" name="MemberIdentity" class="form-control" required pattern="[A-Z][12][0-9]{8}">
                            <span class="text-danger" data-valmsg-for="MemberIdentity" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="CMemberPhone">電話</label>
                            <input type="tel" id="CMemberPhone" name="CMemberPhone" class="form-control" required pattern="09\d{8}">
                            <span class="text-danger" data-valmsg-for="CMemberPhone" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="MemberEmail">Email</label>
                            <input type="email" id="MemberEmail" name="MemberEmail" class="form-control" required>
                            <span class="text-danger" data-valmsg-for="MemberEmail" data-valmsg-replace="true"></span>
                        </div>*@
                        <div class="form-group">
                            <label for="CMemberPassword">舊密碼</label>
                            <input type="password" id="CMemberPassword" name="CMemberPassword" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                            <span class="text-danger" data-valmsg-for="CMemberPassword" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="CMemberPassword">新密碼</label>
                            <input type="password" id="CMemberPassword" name="CMemberPassword" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                            <span class="text-danger" data-valmsg-for="CMemberPassword" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="CMemberPassword">請再輸入一次新密碼</label>
                            <input type="password" id="CMemberPassword" name="CMemberPassword" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                            <span class="text-danger" data-valmsg-for="CMemberPassword" data-valmsg-replace="true"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" onclick="valcheck()" value="確定儲存" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        }

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>