@{
    ViewData["Title"] = "Login";
}
<style>
</style>
<div class="wrapper ">
    <p></p>
        @using (Html.BeginForm("Login", "Member", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="MemberPhone">手機號碼</label>
                <input type="tel" id="MemberPhone" name="MemberPhone" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="MemberPassword">密碼</label>
                <input type="password" id="MemberPassword" name="MemberPassword" class="form-control" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">登入</button>
            <button type="button" class="btn btn-primary" onclick="demoLogin() ">Demo</button>
            <a href="@Url.Action("ForgotPassword", "Member")" class="btn btn-primary">忘記密碼</a>
            </div>
        }

    @{
        var errorMessage = TempData["MemberErrorMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            alert("帳號密碼錯誤，請重新確認，謝謝!");
        </script>
    }

    <script>
        function demoLogin() {
            // 設定手機號碼和密碼欄位的值
            document.getElementById("MemberPhone").value = "0936582783";
            document.getElementById("MemberPassword").value = "64V7VpFc";
        }
    </script>
    <script>
        //// 提交表單時的驗證
        //document.querySelector("form").addEventListener("submit", function (event) {
        //    var memberPhone = document.getElementById("MemberPhone").value;
        //    var memberPassword = document.getElementById("MemberPassword").value;

        //    // 模擬驗證邏輯
        //    if (memberPhone !== "admin" || memberPassword !== "password") {
        //        event.preventDefault(); // 阻止表單提交

        //        // 彈跳提示框
        //        alert("帳號密碼錯誤，請重新確認，謝謝!");
        //    }
        //});
    </script>

</div>
