<style>


</style>


<!-- Modal -->


<div class="modal fade" id="myAccountModal" tabindex="-1" role="dialog" aria-labelledby="myAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myAccountModalLabel">我的帳戶</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <nav>
                <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist" style="border-block-color:#343A40">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">會員登入</button>
                    <button class="nav-link " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">會員註冊</button>
                </div>
            </nav>
            @*分頁下的內容*@
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="d-flex justify-content-center">
                        @await Html.PartialAsync("~/Views/Member/Login.cshtml")
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    @await Html.PartialAsync("~/Views/Member/Create.cshtml")
                </div>





            </div>
        </div>
    </div>
    @*
    <script>
    $(document).ready(function () {
    $('#submit-form').click(function (e) {
    e.preventDefault();

    $.ajax({
    type: "POST",
    url: "/Member/Create",
    data: $('#my-form').serialize(),
    success: function () {
    // 請求成功後的處理程序
    alert("註冊成功！");
    },
    error: function () {
    // 請求失敗後的處理程序
    alert("註冊失敗！");
    }
    });
    });
    });
    </script>*@

    @*@if (TempData["ErrorMessage"] != null)
    {
    <div class="alert alert-danger" role="alert">
    @TempData["ErrorMessage"]
    </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
    <div class="alert alert-success" role="alert">
    @TempData["SuccessMessage"]
    </div>
    }*@
