<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">訂房首頁</h2>
        </div>
    </div>
</section>
<body>
    <div class="col-md-10 offset-md-1 ">
        <div>
            <h2>會員資料</h2>
        </div>
        <div>
            <h2>付款方式</h2>
        </div>

    </div>
</body>