@*@model IEnumerable<HotelOrderFinal.Models.DiscountDetail>*@
@model HotelOrderFinal.ViewModels.COrderDetailViewModel

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h1 class="page-cover-tittle">訂房明細</h1>
        </div>
    </div>
</section>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .area {
            padding: 5px;
            margin: 10px;
            border: solid green;
            border-radius: 20px;
        }

        .row {
            display: flex;
            margin: 5px;
            padding: 5px;
        }

        h2 {
            margin: 10px;
            text-decoration: underline;
            /*  text-decoration-style: dotted;
                                                      text-decoration-color: red;*/
        }

        ol {
            margin-left: 30px;
            padding: 5px;
        }

        textarea {
            width: 95%;
            rows: 2;
            margin: 5px;
            padding: 5px;
        }

        .even-row {
            background-color: #f8f9fa;
        }

        .lab1 {
            width: 200px;
        }

        .delete-button {
            btn btn-primary;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="col-md-10 offset-md-1 ">
        <form action="SaveDB">
            <div class="area">
                <div>
                    <h2>房間明細</h2>
                </div>
                <div style="margin:10px;">
                    <table id="SessionRoomList" style="box-sizing: border-box ; width:100% ;text-align:center;">
                        @*<tbody>
                        <tr style="background-color: #f0f0f0;">
                        <th width="25%">住宿時間</th>
                        <th width="25%">房間類型</th>
                        <th width="10%">數量</th>
                        <th width="15%">人數</th>
                        <th width="15%">小計</th>
                        <th width="10%">刪除</th>
                        </tr>
                        <tr>
                        <td><p>入住日期</p><p>2023/5/7</p><p>退房日期</p><p>2023/5/8</p></td>
                        <td>雙人房</td>
                        <td>1</td>
                        <td>0</td>
                        <td>NT$ 4000</td>
                        <td>刪除</td>
                        </tr>
                        </tbody>*@
                    </table>
                </div>
            </div>
            <div id="ActivityList">
                @*<div class="area">
                <div>
                <h2>活動列表</h2>
                <div class="row">
                <table  style="box-sizing: border-box ; width:100% ;text-align:center;">
                <tbody>
                <tr style="background-color: #f0f0f0;">
                <th width="25%">活動日期</th>
                <th width="25%">活動名稱</th>
                <th width="20%">參加人數</th>
                <th width="20%">小計</th>
                <th width="10%">刪除</th>
                </tr>
                <tr>
                <td>item.ActivityTime</td>
                <td>item.ActivityName</td>
                <td>
                <select id="ActivityPeople">
                @{

                for(int i =1; i<7;i++)
                {
                <option value="i" >i</option>
                }
                }
                </select>
                </td>
                <td>NT$ item.ActivityCost</td>
                <td>刪除</td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>*@
            </div>
            <div class="area">
                <div>
                    <h2>優惠券</h2>
                </div>
                <div  id="Discount" class="form-group col-md-2">
                  @*  <select id="DiscountDiscount" name="DiscountDiscount">*@
                        @*<option value="item.DiscountDiscount">item.DiscountName</option>*@
                @*    </select>*@

                    @*<select id="discountSelect" name="discountSelect">
                    @foreach (var item in Model)
                    {
                    <option value="@item.Discount.DiscountDiscount">@Html.DisplayFor(modelItem => item.Discount.DiscountName)</option>
                    }
                    </select>*@
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <table style="width:100%">
                            <tr>
                                <th>總金額</th>
                                <td id="OrderDetailTotalPrice" class="text-center">NT$ 0</td>

                            </tr>
                            <tr id="discountRow" style="display:none;">
                                <th width="25%">折扣後總金額</th>
                                <td id="discountAmount" class="text-center">NT$ 0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="area">
                <div>
                    <h2>付款方式</h2>
                    <div class="row">
                        <label class="lab1">
                            <input type="radio" name="pay" value="cash" required checked />現金(現場支付)
                        </label>
                        <label class="lab1">
                            <input type="radio" name="pay" value="creditcard" />信用卡
                        </label>
                    </div>
                </div>
            </div>
            <div class="area">
                <div>
                    <h2>注意事項</h2>
                    <ol>
                        <li>飯店入住時間：下午3點之後；退房時間：中午11點以前。</li>
                        <li>飯店全館禁止吸菸及謝絕寵物入住(除導盲犬)，謝謝合作。</li>
                        <li>入住時請出示身分證或護照以便住宿登記。</li>
                        @*<li>平、旺、假日之定義，將依飯店規定為主。</li>*@
                    </ol>
                </div>
                <div>
                    <h2>備註</h2>
                    <textarea id="txtRemark" name="txtRemark "></textarea>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-2">
                    <a href="#">@Html.ActionLink("返回上一頁", "List", "Order", null, new { @class = "btn btn-primary btn-block" })</a>
                </div>
                <div class="col-md-2">
                    @*<a href="#" onclick="getOrderDetailValue();" class="btn btn-primary btn-block">付款 </a>*@
                    <a href="#">@Html.ActionLink("付款", "ShowOrder", "Order", null, new { @class = "btn btn-primary btn-block" })</a>
                    @*<input type="submit"/>*@
                </div>
            </div>
        </form>
    </div>

</body>

<script>

    let cartItemsDiv;


    //頁面載入時載入購物車內容
    $(document).ready(function () {
        loadCartFromSession();
        loadActivitySession();
        loadDiscount();
    });

    function loadCartFromSession() {
        fetch('/Order/GetShopCartOrderDetailSession', {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json())
            .then(cartData => {
                const cartItemsDiv = $('#SessionRoomList');
                cartItemsDiv.empty();

                if (cartData !== null) {
                    let totalPrice = 0;
                    const headerRow = $('<tr></tr>').css('background-color', '#f0f0f0');
                    headerRow.append($('<th></th>').attr('width', '20%').text('住宿時間'));
                    headerRow.append($('<th></th>').attr('width', '20%').text('飯店名稱'));
                    headerRow.append($('<th></th>').attr('width', '20%').text('房間類型'));
                    headerRow.append($('<th></th>').attr('width', '15%').text('住房人數'));
                    headerRow.append($('<th></th>').attr('width', '15%').text('小計'));
                    headerRow.append($('<th></th>').attr('width', '10%').text('刪除'));

                    cartItemsDiv.append(headerRow);
                    cartData.forEach((item, index) => {

                        const itemRow = $('<tr></tr>');
                        const dateCell = $('<td></td>');
                        dateCell.append($('<p></p>').text('入住日期'));
                        const formattedCheckInDate = new Date(item.checkInDate).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                        dateCell.append($('<p></p>').text(formattedCheckInDate));
                        dateCell.append($('<p></p>').text('退房日期'));
                        const formattedCheckOutDate = new Date(item.checkOutDate).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });
                        dateCell.append($('<p></p>').text(formattedCheckOutDate));
                        itemRow.append(dateCell);

                        itemRow.append($('<td></td>').text(item.hotelName));
                        itemRow.append($('<td></td>').text(item.roomClassName));
                        //住宿人數為下拉選單, 上限+2
                        const selectroomPeople = $('<td></td>');
                        const select = $('<select></select>');
                        //const select = $('<select></select>').attr('id', 'roomPeople').attr('name', 'roomPeople');


                        // 建立下拉式選單選項
                        for (let i = 1; i <= item.roomClassPeople + 2; i++) {
                            const option = $('<option></option>').text(i);

                            // 設定預設選項
                            if (i === item.roomClassPeople) {
                                option.attr('selected', 'selected');
                            }

                            select.append(option);
                        }
                        // 設定唯一的id和name屬性值
                        //const uniqueId = 'roomPeople-' + index;
                        //select.attr('id', uniqueId).attr('name', uniqueId);

                        // 監聽下拉選單變更事件
                        select.change(() => {
                            const selectedPeople = parseInt(select.val());
                            let price;

                            if (selectedPeople <= item.roomClassPeople) {
                                price = item.weekdayPrice;
                            } else {
                                const additionalPeople = selectedPeople - item.roomClassPeople;
                                price = item.weekdayPrice + item.addPrice * additionalPeople;
                            }

                            priceCell.text('NT$ ' + price);

                            //更新總金額
                            calculateTotalPrice();
                        });
                        //顯示入住人數
                        selectroomPeople.append(select);
                        itemRow.append(selectroomPeople);

                        //顯示房間金額
                        const priceCell = $('<td></td>').text('NT$ ' + item.weekdayPrice);
                        itemRow.append(priceCell);


                        //偶數列底色變色
                        if (index % 2 === 1) {
                            itemRow.addClass('even-row');
                        }

                        const deleteCell = $('<td></td>');
                        const deleteButton = $('<button></button>').text('刪除').addClass('delete-button');
                        const itemId = 'item-' + item.fId;
                        itemRow.attr('data-item-id', itemId);

                        //點擊刪除按鈕
                        deleteButton.click(() => {

                            //跳出確認框
                            if (confirm('確定要刪除此項目嗎？')) {

                                //抓取刪除列的FId
                                const rowToDelete = cartItemsDiv.find('[data-item-id="' + itemId + '"]');

                                //刪除價格
                                const itemPrice = item.weekdayPrice;
                                totalPrice -= itemPrice;

                                rowToDelete.remove();
                                const extractedFId = itemId.split('-')[1];
                                //執行刪除function
                                deleteSessionData(extractedFId);

                                //更新總金額
                                //const totalPriceCell = $('<td></td>').addClass('text-right').text('NT$ ' + totalPrice);
                                //$('#OrderDetailTotalPrice').empty().append(totalPriceCell);
                                //const totalPriceCell = $('#OrderDetailTotalPrice');
                                //totalPriceCell.text('NT$ ' + totalPrice);
                                //showDiscount(totalPrice);

                                calculateTotalPrice();
                                console.log("刪除房間有執行到嗎");

                                // 購物車內容為空，回到訂房首頁(目前無作用)
                                //if (totalPriceCell === 0) {
                                //    window.location.href = "/Order/List";
                                //    return;
                                //}
                            }
                        });
                        deleteCell.append(deleteButton);
                        itemRow.append(deleteCell);

                        cartItemsDiv.append(itemRow);

                        totalPrice += item.weekdayPrice


                    });
                    //const totalPriceCell = $('<td></td>').addClass('text-right').text('NT$ ' + totalPrice);
                    //$('#OrderDetailTotalPrice').empty().append(totalPriceCell);

                    //一開始的房間列表的總額
                    const totalPriceCell = $('#OrderDetailTotalPrice');
                    totalPriceCell.text('NT$ ' + totalPrice);
                    showDiscount(totalPrice);

                    ////呼叫總額計算
                    //calculateTotalPrice()
                }
            });
    }

    //刪除session內的房間
    function deleteSessionData(FId) {
        $.ajax({
            url: '/Order/DeleteSessionData',
            method: 'POST',
            data: { FId: FId },
        });
    }

    // 計算總金額函數
    function calculateTotalPrice() {
        let totalPrice = 0;
        let 房間列表總額 =0;
        let 活動總額 = 0;
        
        //抓房間列表的小計欄位
        $('#SessionRoomList').find('tr').each((index, row) => {
            const priceText = $(row).find('td:nth-child(5)').text();//抓第5列
            const roomPrice = parseInt(priceText.substring(4)); // 去除 "NT$ "
           
            //扣掉標題的內容
            if (!isNaN(roomPrice)) {
                房間列表總額 += roomPrice;
                console.log("去掉標題內容", 房間列表總額);
            } 
        });

        //抓活動的小計欄位
        $('#ActivityList').find('tr').each((index, row) => {
            const CostText = $(row).find('td:nth-child(4)').text();
            const actPrice = parseInt(CostText.substring(4));
            console.log("2", actPrice);
            //扣掉標題的內容
            if (!isNaN(actPrice)) {
                活動總額 += actPrice;
                console.log("2", 活動總額);
            } 
        });

        totalPrice = 房間列表總額 + 活動總額;

        const totalPriceCell = $('#OrderDetailTotalPrice');
        totalPriceCell.text('NT$ ' + totalPrice);
        showDiscount(totalPrice);
    }

    function showDiscount(price) {
        // $('#discountRow').show().text("abcd");
        var selectedDiscount = $('#DiscountDiscount').val()
        // var totalPrice = parseFloat($('#OrderDetailTotalPrice').text().replace('NT$ ', '')); // 獲取總金額數字
        let totalPrice = price;
        //取得discountId
        //根據discountId透過Ajax去伺服器端讀取此Id的discount

        //console.log("discount",selectedDiscount);
        //console.log("total", totalPrice);
        if (selectedDiscount !== null && selectedDiscount !== "") {
            var discountAmount = Math.floor(totalPrice * selectedDiscount);
            $('#discountRow').show(); // 顯示優惠券計算內容
            $('#discountAmount').text('NT$ ' + discountAmount); // 顯示折扣金額
        } else {
            $('#discountRow').hide(); // 隱藏優惠券計算內容
        }
    }

    //當優惠券選擇改變時觸發事件
    $('#DiscountDiscount').change(function () {
        calculateTotalPrice();
    });

    //獲得活動資料
    function loadActivitySession() {
        fetch('/Order/GetActivitySession', {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json())
            .then(item => {
                const activityListDiv = document.getElementById("ActivityList");
                
                console.log(item)
                var html = "<div class='area'><div><h2>活動列表</h2><div class='row'><table style='box-sizing: border-box; width:100%; text-align:center;'><tbody><tr style='background-color: #f0f0f0;'><th width='25%'>活動日期</th><th width='30%'>活動名稱</th><th width='25%'>參加人數/剩餘名額</th><th width='20%'>小計</th></tr>";
                //const datas=JSON.parse(data);

                html += "<tr>";
                //html += "<td>" + item.activityTime + "</td>";
                const formattedActivityTime = new Date(item.activityTime).toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' });

                html += "<td>" + formattedActivityTime + "</td>";

                html += "<td>" + item.activityName + "</td>";

                html += "<td>";
                html += "<select id='ActivityPeople'name='ActivityPeople'>";
                var remainingPeople = item.activityPeople - item.活動參加總人數;

                for (var i = 0; i <= remainingPeople; i++) {
                    html += "<option value='" + i + "'>" + i + "</option>";
                }
                html += "</select>";
                html += " /  " + remainingPeople + "</td>";

                html += "<td>NT$ <span id='totalCost'>" + 0 + "</span></td>";
                //html += "<td>NT$ " + totalPrice + "</td>";

                html += "</tr>";

                html += "</tbody></table></div></div>";
                activityListDiv.innerHTML = html;

                document.getElementById('ActivityPeople').addEventListener('change', calculateActSelecttotal);

                //活動人數變更計算金額
                function calculateActSelecttotal() {
                    var selectedPeople = parseInt(document.getElementById('ActivityPeople').value);
                    var totalCost = selectedPeople * item.activityCost;
                    document.getElementById('totalCost').textContent = totalCost
                    console.log("4", totalCost);
                    //更新到總金額內
                    //if (!isNaN(totalCost) && totalCost > 0) {
                    //    calculateTotalPrice(totalCost);
                    //    console.log("5");
                    //}
                    calculateTotalPrice();

                    //const 總金額字串 = calculateTotalPrice();
                    //const 總金額 = parseInt(總金額字串.substring(4));

                };

                //初始執行計算
                //calculateActSelecttotal();
            });
    }

    //讀取優惠卷數據
    function loadDiscount() {
        fetch('/Order/GetDiscountId', {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        })
            .then(response => response.json())
            .then(data => {
                var selectElement = document.getElementById("Discount");
                console.log(data);
                selectElement.innerHTML = "";

                data.forEach(item => {
                    var optionHtml = "<select id='DiscountDiscount' name='DiscountDiscount'><option value='" + item.discountDiscount + "'>" + item.discountName + "</option></select> ";
                    console.log(optionHtml);
                    selectElement.innerHTML += optionHtml;
                });
                calculateTotalPrice()
            });
    }




    //獲得參數(未完成)
    function getOrderDetailValue() {
        var activitypeople = document.getElementById("ActivityPeople").value;
        var discountdiscount = document.getElementById("DiscountDiscount").value;
        var txtremark = document.getElementById("txtRemark").value;
        var roomPeopleElements = document.querySelectorAll('[name="roomPeople"]');
        var roomPeopleValues = [];

        roomPeopleElements.forEach(function (element) {
            roomPeopleValues.push(element.value);
        });

        console.log('activitypeople', activitypeople);
        console.log('discountdiscount', discountdiscount);
        console.log('txtremark', txtremark);
        //console.log('roomPeople', roomPeopleValues);

        var data = {
            activitypeople: activitypeople,
            discountdiscount: discountdiscount,
            txtremark: txtremark,
            roomPeople: roomPeopleValues
        };

        fetch('/your/backend/url', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        })
    }


</script>