<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">訂房完成</h2>
        </div>
    </div>
</section>

<head>
    <style>
        h1 {
            display: block;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h1> 親愛的會員，您已成功訂房，期待您蒞臨！</h1>

        <div class="col-md-10 offset-md-1 " style="border:solid green;margin-bottom:10px;margin-top:10px;">
            <div style="margin:10px;">
                <h2>訂房明細</h2>
            </div>
            <div style="margin:10px;">
                <table style="box-sizing: border-box ; width:100% ;text-align:center;">
                    <tbody>
                        <tr style="background-color: #f0f0f0;">
                            <th width="25%">住宿時間</th>
                            <th width="25%">房間類型</th>
                            <th width="10%">數量</th>
                            <th width="15%">額外加人數</th>
                            <th width="15%">小計</th>

                        </tr>
                        <tr>
                            <td><p>入住日期: 2023/5/7</p><p>退房日期: 2023/5/8</p></td>
                            <td>雙人房</td>
                            <td>1</td>
                            <td>0</td>
                            <td>NT$ 4000</td>

                        </tr>
                    </tbody>
                </table>
                <hr />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <a href="#">@Html.ActionLink("訂房首頁", "List", "Order", null, new { @class = "btn btn-primary btn-block" })</a>
            </div>
        </div>
    </div>
</body>
