@model HotelOrderFinal.Models.RoomClass

@{
    ViewData["Title"] = "Detail";
}
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">About Us</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
</section>
<h1>Detail</h1>
<div class="container">
    <h2>@Html.DisplayFor(model => model.RoomClassName)</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="~/image/room1.jpg" alt="">
            @*<img src="https://via.placeholder.com/300x200.png?text=Room+Image" class="img-fluid" alt="Room Image">*@
        </div>
        <div class="col-md-8">
            <p>@Html.DisplayFor(model => model.RoomClassDetail)</p>
            <h4>Room Amenities:</h4>
            <ul>
                <li>King-size bed</li>
                <li>Work desk</li>
                <li>Sofa</li>
                <li>Flat-screen TV</li>
                <li>Air conditioning</li>
                <li>Minibar</li>
                <li>Shower</li>
                <li>Hairdryer</li>
                <li>Free toiletries</li>
            </ul>
            <a href="#"><h5 class="sec_h4">Price:</h5></a>
            <h5>15000<small>/night</small></h5>
        </div>
    </div>
    <a href="#">@Html.ActionLink("立即預約", "Index", "Order", null, new { @class = "book_now_btn button_hover" })</a>
</div>
