@model HotelOrderFinal.Models.RoomClass

@{
    ViewData["Title"] = "Edit";
}
<style>
    .form-control {
    width:60%;
    }
</style>

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">About Us</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Room</li>
            </ol>
        </div>
    </div>
</section>



<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>編輯房型</h1>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomClassId" class="control-label">房型編號</label>
                <input asp-for="RoomClassId" class="form-control" readonly />
                <span asp-validation-for="RoomClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomClassName" class="control-label">房型名稱</label>
                <input asp-for="RoomClassName" class="form-control" />
                <span asp-validation-for="RoomClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomClassDetail" class="control-label">詳細介紹</label>
                <input asp-for="RoomClassDetail" class="form-control" />
                <span asp-validation-for="RoomClassDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">房間照片1</label>
                <input type="file" name="photo1" class="form-control" />                
                <input asp-for="RoomClassPhoto1" class="form-control" readonly />
                <span asp-validation-for="RoomClassPhoto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">房間照片2</label>
                <input type="file" name="photo2" class="form-control" />                
                <input asp-for="RoomClassPhoto2" class="form-control" readonly />
                <span asp-validation-for="RoomClassPhoto2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">房間照片3</label>
                <input type="file" name="photo3" class="form-control" />               
                <input asp-for="RoomClassPhoto3" class="form-control" readonly />
                <span asp-validation-for="RoomClassPhoto3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekdayPrice" class="control-label">平日價格</label>
                <input asp-for="WeekdayPrice" class="form-control" />
                <span asp-validation-for="WeekdayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayPrice" class="control-label">假日價格</label>
                <input asp-for="HolidayPrice" class="form-control" />
                <span asp-validation-for="HolidayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddPrice" class="control-label">加人數價格</label>
                <input asp-for="AddPrice" class="form-control" />
                <span asp-validation-for="AddPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="AdminRoom" class="btn btn-secondary">回到列表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}